.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

input,
textarea {
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 8px;
}
